<div class="detail-content container-fluid">
    <div class="row">
        <div class="col-md-4">
            <img src="../../../assets/images/49.jpeg" style="width:140px;" class="img-fluid rounded-start" alt="image-character">
        </div>
        <div class="col-md-8 ms-auto">
            <p><b>NAME : </b> Rick Sanchez</p>
            <p><b>GENDER : </b> Male</p>
            <p><b>LOCATION : </b> Citadel of Ricks</p>
            <p><b>SPECIES : </b> Human</p>
            <p><b>ORIGIN : </b> unknown</p>
        </div>
    </div>
</div>