body {
    background-image: url("assets/images/fondo.webp");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.list-cards {
    padding: 20px;
}
/*
.custom-pagination .paginator-select:hover {
    border-color: #42b4ca;
}
*/
.paginator-select {
    padding: 8px 16px;
    border-radius: 0;
}

.form-control option:hover {
    background-color: #4CAF50;
}

.pagination {
    margin-left: 1vh;
    display: inline-block;
    background-color: #ffffff;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

.pagination .isDisabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
    pointer-events: none;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}